//Правое меню
.slide-right {
  position: relative;

  &__nav {
    position: fixed;
    right: -100%;
    // width: 100vw;
    width: 250px;
    height: 100vh;
    text-align: center;
    background: rgb(56, 56, 56);
    padding: 70px 30px 30px;
    overflow-y: auto;
    transition: .5s;
    z-index: 20;
    pointer-events: none;

    // transition: left 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    .trigger-right:checked~& {
      right: 0;
    }
  }
}

.trigger-right {
  display: none;
}

.hamburger-right {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  background: rgb(56, 56, 56);
  border-radius: 50%;
  z-index: 30;

  span {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    transform: translate(-50%, -50%);

    &:before,
    &:after {
      position: absolute;
      content: '';
      width: 30px;
      height: 3px;
      background: rgb(255, 255, 255);
      transition: 0.3s;
    }

    &:before {
      top: -8px;
    }

    &:after {
      top: 8px;
    }

    .trigger-right:checked~& {
      background: transparent;
      height: 0;
      width: 0;
    }

    .trigger-right:checked~&:before {
      top: 0px;
      left: -15px;
      transform: rotate(-45deg);
    }

    .trigger-right:checked~&:after {
      top: 0px;
      left: -15px;
      transform: rotate(45deg);
    }
  }
}

.menu-list {

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    display: block;
    color: #fff;
    padding: 10px 0;
    pointer-events: auto;
  }
}